.app{
    display: flex;
    justify-content: center;
    margin-top: 70px;   
}

.app .container{
    width: 600px;
    display: flex;
    padding: 10px;
    background-color: black;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 5px 4px 5px #2c2c2c;
    
}

.container .left{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 33px;
}


.left .result{
    width: 100%;
}

.result input{
    width: 95%;
    height: 50px;
    border-radius: 4px;
    outline: none;
    border: none;
    box-shadow: 4px 5px 5px #292929;
    background-color: #fff;
    color: #000;
    font-size: 23px;
    padding-left: 20px;
    font-weight: 600;
}
.left .left_btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}


.left_btns button{
    height: 60px;
    border-radius: 6px;
    background-color: #64258E;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    outline: none;
    border:none;
    cursor: pointer;
    margin: 11px 0;

}

.right{
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.right button {
    height: 60px;
    width: 60px;
    border-radius: 6px;
    background-color: #64258E;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
    outline: none;
    border:none;
    cursor: pointer;
    margin: 6px 0;

}

.right button:first-child{
    background-color: red;
}